{% extends 'base.html' %}

{% block content %}
<h1>Мои заказы</h1>
{% if orders %}
    <table>
        <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Общая сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created_at|date:"d.m.Y H:i" }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.total_price }} руб.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>У вас пока нет заказов.</p>
{% endif %}
{% endblock %}